# Remove previous ipynb_checkpoints
# git rm -r .ipynb_checkpoints/

# Jupyter Notebook auto-save files
.ipynb_checkpoints/

# Jupyter Notebook kernel connection files
.local/
.metadata/

# Jupyter Notebook output files
*.html
#*.ipynb

# Python virtual environment
.venv/
.env/

# Data files (optional, if you have large or sensitive data files)
#data/

# Logs and temporary files (optional)
logs/
temp/
env/
bulldozer-price-prediction-project/data/*

.git
